<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>course</title>
</head>
<body>
    <div class="container-fluid">
        <h1>Course</h1>
        <div id = "display-courses">
            <%courseList.forEach(c => {%>
                <a href= "/admin/courses/<%= c._id %>"> <%= c.Course_Name %></a> <br> 
                <img src= <%= c.Headshot %> />
                <p> <%= "Course Instuctor: "+c.Instructor%></p>
           <% }) %>

                    
        </div>
    </div>

</body>
</html>